body {
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    flex-direction: column;
    justify-content: center; /* Vertically center the containers */
    height: 100vh; /* Set container height to full viewport height */
}

.container, header, footer {
    flex: 1; /* Equal flex value for all containers */
    margin: 10px; /* Add some margin for spacing between containers */
    padding: 20px;
    border-radius: 5px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header {
    display: flex;
    font-size: 48px;
    font-weight: 500;
    color: #f9faf8;
    background-color: #1f2937;
    align-items: center;
    justify-content: center;
}

.footer {
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    align-items: center;
    height: 80px;
    color: #e5e7eb;
}